*{
    padding: 0;
    margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-family: oswald, Arial, Helvetica, sans-serif, arial;
    background:url(bg.jpg),#000;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

header{
    position: relative;
    height: auto;
}

header .menu{
    background: rgba(255, 255, 255, 0.85);
    overflow: hidden;
}

header .logo{
    color: rgba(0, 0, 0, 0.8);
    float: left;
    margin-left: 3em;
    font-size: 30px;
    line-height: 80px;
}


header nav{
    float: right;
    margin-right: 4em;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 80px;
}

header nav ul li a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}


.texto{
    position: relative;
    color: white;
    padding: 50px 0;
    text-align: center;
    font-weight: 400;
}

.texto h2, p{
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 10px 20px;
}

.texto h2{
    font-size: 40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}

.texto p {
    font-size: 20px;
    letter-spacing: 2.5px;
}


.texto p a{
    text-decoration: none;
    color: white;
}

.texto p a:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.principal_contenedor{
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: black;
}

.principal_contenedor article{
    padding: 20px;
    background: white;
    margin-bottom: 30px;
}

.principal_contenedor article p {
    margin-bottom: 20px;
    line-height: 24px;
    font-family: Helvetica, sans-serif;
    background: white;
}

.principal_contenedor article .fecha{
    color: #939393;
}

.pie_pagina{
    margin-top: 80px;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    text-align: center;
}

.pie_pagina p{
    font-size: 18px;
    line-height: 80px;
    background: rgba(255, 255, 255, 0.85);
    color: black;
}